<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Archive</title>
</head>
<style>
 h1{
  font-size: 50px;
  color: rgb(221, 44, 44);
 text-align: center;
 }
 li{color:rgb(8, 8, 56);
padding: 0.5%;
font-size: 30px;
 
}
*{background-color: beige;}
</style>
<body>
 <h1>Notes Archivées</h1>
 <ul>
  {% for item in notee%}
  <li>
   <a href="/restore/{{item.id}}/">{{item.title}}</a> <br>
   {{item.content}}
  </li>
  {% endfor%}
 </ul>
 <h3>{{msg}}</h3>
 <a href="/">return to home</a>
 
 
</body>
</html>