<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Login</title>
</head>
<style>
 form {
  text-align: center;
  width: 30%;
  margin-left: 35%;
  background-color: bisque;
 }
</style>
<body>
 <form action= "/userregister/"method="post">
  {% csrf_token %}
  <br><br>
 <input type="text" name="User name" id="User Name"><br><br>
 <input type="email" name="Email" id="Email"><br><br>
 <input type="password" name="Password" id="Password"><br><br>
 <input type ="submit" value="Sign up">
 </form>
</body>
</html>